.ha-header-perspective > div {
  /* background: rgba(9, 170, 30, 0.658); 
hsl(126, 61%, 12%)
  */
background: linear-gradient(to right,rgb(11, 43, 14), rgb(16, 91, 24),rgba(9, 170, 30, 0.466));
} 

.ha-header-front a {
  color: white; }

.ha-header-perspective .ha-header-bottom {
 /* background-color: rgba(9, 170, 31, 0.466); }
  */
  background: linear-gradient(to right, rgba(9, 170, 30, 0.466),rgb(16, 91, 24),rgb(11, 43, 14));
}  
  .ha-header-perspective .ha-header-bottom a {
    color:white; }

body,
p,
h3,
h4,
#intro h1,
#intro p,
.page-section p,
#work h3,
.team h2 {
  color: #292929; }

.page-section h2::after {
  background-color: rgba(0, 0, 0, 0.3); }

.btn-border {
  color: #292929;
  -webkit-box-shadow: 0 0 0 2px #292929;
  box-shadow: 0 0 0 2px #292929; }
  .btn-border:hover {
    background-color: #292929;
    color: #fff; }

.page-section header h2,
.page-section header p {
  color: #292929; }

main {
  background-image: none;
  background-color: #fff; }

ul.social a {
  background-color: #292929;
  color: #fff; }

.pricing-table {
  border: 2px solid #292929; }

.skill-bar {
  border-color: #292929; }

.skill {
  background-color: #292929;
  color: #fff; }

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  background: rgba(0, 0, 0, 0.15); }

.footer-content h4,
.footer-content p {
  color: #fff; }