.w_46p
  {
    width: 77px;
    margin: 2.5%;
  }
.header
  {
    position: fixed;
    z-index: 9999;
    /* background: linear-gradient(to bottom right, #C6D4B1 , #FFF, #C6D4B1) !important; */
    background: linear-gradient(to right, #FFF, #C6D4B1, #C6D4B1) !important;
  }
body
  {
    /* background: #50860921 !important; */
    /* background: linear-gradient(to bottom right, #fff , #fff, #C6D4B1) !important; */
    /* min-height: 100% !important; */
    /* background: #c6d4b136 !important; */
    /* background: linear-gradient(to bottom right, #FFF, #C6D4B1) !important; */
  }
.hedingTxt
  {
    font-size: 15px !important;
    color: #687753 !important;
    vertical-align: -webkit-baseline-middle;
  }
.hedingInt
  {
    font-weight: 300 !important;
    font-size: 17px !important;
    vertical-align: -webkit-baseline-middle;
    /* color: #687753 !important; */
  }
.hedingTxtLvlTwo
  {
    font-size: 17px !important;
    color: #687753 !important;
  }
.hedingIntLvlTwo
  {
    font-weight: 300 !important;
    font-size: 17px !important;
    /* color: #687753 !important; */
  }
  .statustable
  {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-align: center;
  }
.topheading
  {
    text-align: center;
    padding: 13px;
    margin: 0px;
    color: #687753 !important;
    font-weight: bold;
  }
.carousel-control.right{-webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0))) !important}
.carousel-control{width: 0px !important;color: #53776f !important;font-size: 52px !important;}
.arrowstiQ
  {
    margin-top: 7%;
    /* position: absolute; */
    width: 98%;
  }
/* .item
  {
    width: 100% !important;
    height: auto !important;
    /* max-height: 515px !important; */
  } */
.item img
  {
    object-fit: cover;
  }
.red
  {
    background: #b50b0b;
    color: #fff;
  }
.orange{
background: rgb(243, 81, 22);
color: #fff;
font-weight: 600;
  }
.yel
  {
    background: #e6e62df0;
    color: #311c1c;
    font-weight: 600;
  }
.blue
  {
    background: #0f0873c7;
    /* background: #e6e62df0; */
    color: #fff;
    font-weight: 600;
  }
.green
  {
    background: #527127;
    color: #fff;
  }
.complete
  {
    background: transparent;
    color: #777;
  }
.pd4p
  {
    padding: 2% 0% !important;
  }
.statusTxt
  {
    width: 100%;
    padding: 1% 11%;
    font-size: 19px;
    border-radius: 5px;
  }
.border
  {
    border: 1px solid #77777733;
  }
.border-top
  {
    border-top: 1px solid #77777733;
  }
.border-bottom
  {
    border-bottom: 1px solid #77777733;
  }
.border-left
  {
    border-left-: 2px solid #77777733;
  }
.border-right
  {
    border-right: 2px solid #77777733;
  }
.margin-top
  {
    margin-top: 1%;
    /* padding-top: 1%; */
  }
.a:focus, a:hover{text-decoration: none !important;color: inherit !important;}
.table-hover>tbody>tr:hover
  {
    background-color: #6877539c !important;
    color: #fff !important;
    cursor: pointer;
    webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
.table-hover>tbody>tr:hover a
  {
    color: #fff !important;
    webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
.marlf3p{margin-left: 3% !important; }
.paddinLab{padding: 0% 0.7% !important; }
.tblhd
  {
    background: #687753c2 !important;
    color: #fff !important;
  }
.nopad
  {
    padding: 0% !important;
  }
.pdt3p{padding-top: 3% !important;}
.inline-flex{display: flex;
align-items: flex-start;}
.box-shadow{box-shadow: 3px 6px 37px #8b977b;}
::selection {
  color: #fff !important;
  background: #c6d4b1 !important;
}
