.dangercustom{
    text-align: center !important;
    font-size: 14px !important;
    position: relative !important;
    margin-top: -12px !important;
    margin-bottom: 0px !important;
    display: none;
}

.revtb{
    background-color:lightgrey;
}

.bg-new{
    background:linear-gradient(to left, black,#404E67 );
   }
   th, td {
       white-space: inherit !important;
   }
   td{
       text-align: center;
   }
   h5{
       text-align: center;
   }
   .form-control:disabled {
        cursor: not-allowed;
        opacity: 1;
    }
   #physical, #quality_assesment , #stakeholder , #issues , #risks ,#HSE , #procurement{
       display:none;
   }
   .fn{
       text-align: center;
   }
   .noborder{border: none !important;padding: 3% !important;}
   qa_noborder{
    border: none !important;padding: 0% !important;
   }
   .saveNnextbtn{
       color:white !important;
       margin: 5px;
   }
   .components{
    /* border: 2px solid grey !important; */
    width: 100% !important;

   }
   .moreActivities{
    /* border: 2px solid grey !important;
    margin: 12px;
    padding: 12px;
    background: white !important; */
   }
   .singleActivity{
    width: 100% !important;

   }
   .summary-card{
     margin: 15px;
     border-radius: 5px;
     width:250px;
     padding:10px;
     height: 150px;
   -webkit-box-shadow: 11px 15px 42px 3px rgba(0,0,0,0.38);
   -moz-box-shadow: 11px 15px 42px 3px rgba(0,0,0,0.38);
   box-shadow: 11px 15px 42px 3px rgba(0,0,0,0.38);
   }
   a:hover{
   text-decoration: none;
   }
   .summary-card:hover{
     background:white !important;
     margin: 15px;
     border-radius: 5px;
     width:250px;
     padding:10px;
     height: 150px;
     -webkit-box-shadow: 0px -1px 79px 14px rgba(189,187,189,1);
   -moz-box-shadow: 0px -1px 79px 14px rgba(189,187,189,1);
   box-shadow: 0px -1px 79px 14px rgba(189,187,189,1);

   }
   .divider{
       border:#404E67  1px solid ;
       margin-top:20px;
       margin-bottom:20px;
   }
   .divider-dotted{
       border:#fe8774  1px dashed;
       margin-top: 21px;
       margin-bottom: 15px;
   }
   .fixed{position: fixed !important;}
   .z-9999{z-index: 9999 !important}
   .bg-g{background-color: #f6f7fb !important;}
   .z-depth-5{box-shadow: none !important;}
   .border_top{border-top: 1px solid #77777729 !important;}
   .bg-w{background:white!important;}
   /* .navbar-logo[logo-theme="theme1"]{padding: 6.2% 0% !important;} */
   @media (min-width: 768px){
   .offset-md-2 {
       margin-left: 17.8% !important;
   }}
   .risktable{
       padding:0px !important;
       margin:0px !important;
   }
   .frozen_pane{height: 14px !important;}
   .nodisplay{display: none;}

   .planMactivities{
       border: 1px solid lightgray !important;
       /* background:lightblue; */
   }
   .componentCost{
    margin-left: 6em;
    margin-top: -6%;
    width:30%;
   }
td{text-align: center;}
#header-fixed {
    position: fixed;
    top: 20%; display:none;
    background-color:white;
}
/* #header-fixed th{width: 10.5%;}
#action{width: 1%;} */
.table-responsive{overflow-x: hidden;}
.paddtopbottom1per {
    padding: 1% 0% !important;
}

.media {
    display: block !important;
}

#html_btn {
    width: 90%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 5%;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.new_Btn {
    cursor: pointer;
}

.nav-link {
    padding: .3rem .3rem !important;
}

@media only screen and (max-width: 420px) {

    .ms-container .ms-selectable,
    .ms-container .ms-selection {
        width: 50% !important;
        /* clear: both; */
        float: left !important;
    }
}

.ms-container {
    width: 100% !important;
}

.wd-5p {
    width: 5% !important;
}

.mt_6p {
    margin-top: 6%;
}

.pd_1 {
    padding: 1% !important;
    margin-bottom: 2%;
    border-radius: 3px;
}

.bg_g {
    background-color: #00000014
}

input {
    background: transparent !important;
    border: 1px solid #77777747 !important;
}

.bg_yelop {
    background-color: #92ac0126;
}

.clearfix {
    clear: both !important;
}

.textlef {
    text-align: left !important;
}

.mb_2 {
    margin-bottom: 2% !important;
}

.mb_1 {
    margin-bottom: 1% !important;
}

.font-15 {
    font-size: 15px !important;
}

.pd_1_2 {
    padding: 1% 2% !important
}

.pd_1_6 {
    padding: 1% 6% !important
}

.row {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.DisInlineflex {
    display: inline-flex !important;
}

.border_right {
    border-right: 1px solid #e9ecef !important
}

.border_left {
    border-left: 1px solid #e9ecef !important
}

.bg_sk {
    background: #01a9ac14;
}

.bg_or {
    background: #fe936524;
}

.mr_0_1 {
    margin: 0% 1% !important;
}

/* p{clear: both !important;} */
/* .select2-container--default .select2-selection--multiple .select2-selection__rendered li{color: #131010b8 !important;background: transparent !important;border: none;} */
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    background: #119e36 !important;
    color: #fff !important;
    padding: 2% 4%;
    margin: 1% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search--inline {
    background-color: transparent !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice span {
    color: #fff !important;
}

/* .select2-container--default .select2-selection--multiple .select2-selection__choice span{color: #777 !important;} */
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #01a9ac !important;
    border-top-color: rgb(1, 169, 172) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(1, 169, 172) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(1, 169, 172) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(1, 169, 172) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
}

.select2-container {
    width: 100% !important;
}

.capitalize {
    text-transform: capitalize;
}

.select2-search input {
    border: none !important;
}

.fullHeight {
    height: 100% !important;
}

.aho {
    background: #01a9ac;
    color: #fff;
}

.aho:active {
    background: #01a9acd6;
    border: 1px solid #01a9ac;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: transparent !important;
    color: #444;
    padding: 0px !important;
}

.headText {
    font-size: 15px;
    text-transform: capitalize;
}

.boldText {
    font-weight: 900;
}

/* active page */
.New_Assignments a {
    color: #FE8A7D !important;
}

.Monitoring_Projects {
    color: #FE8A7D !important;
}

/* end active */
.red {
    color: #F22525 !important;
    font-size: 21px;
    font-weight: 900;
}

.blue {
    color: #7942FA !important;
    font-size: 21px;
    font-weight: 900;
}

.sky {
    color: #42BDFA !important;
    font-size: 21px;
    font-weight: 900;
}

.green {
    color: green !important;
    font-size: 21px;
    font-weight: 900;
}

.errortiQ {
    color: #A91F1A !important;
    font-size: 25px;
    font-weight: 900;
}

.tdprocu {
    padding: 0px !important;
    text-align: center !important;
}

.modal-open,
.modal {
    overflow-x: scroll !important;
}

/* .orgchart{background: #fff !important;} */
.primarybold {
    color: #01a9ac !important;
    font-weight: 900 !important;
}

.orrbold {
    color: #ff7220 !important;
    font-weight: 900 !important;
}

.redtXt {
    font-size: 15px;
    font-weight: 900;
    color: #fff !important;
    font-size: 15px;
    text-shadow: 1px 3px 21px blueviolet !important;
    font-weight: 900;
    background: #d60e0e;
    border-radius: 5px;
    margin-left: 7%;
}

.orangetXt {
    font-size: 15px;
    font-weight: 900;
    color: #fff !important;
    font-size: 15px;
    text-shadow: 1px 3px 21px blueviolet !important;
    font-weight: 900;
    background: #f39440;
    border-radius: 5px;
    margin-left: 7%;
}

.yeltXt {
    font-size: 15px;
    font-weight: 900;
    color: #fff !important;
    font-size: 15px;
    text-shadow: 1px 3px 21px blueviolet !important;
    font-weight: 900;
    background: #c7c30d;
    border-radius: 5px;
    margin-left: 7%;
}

.greentXt {
    font-size: 15px;
    font-weight: 900;
    color: #fff !important;
    font-size: 15px;
    text-shadow: 1px 3px 21px blueviolet !important;
    font-weight: 900;
    background: green;
    border-radius: 5px;
    margin-left: 7%;
}

.select2-container .select2-selection--single {
    padding: 2% 0% 13% 0% !important;
}
.expandheader,
.expandheaderCustom {
    padding: 1% 0%;
    margin-bottom: 1%;
    border-radius: 5px;
    -webkit-transition: all ease-in 0.6s;
    transition: all ease-in 0.6s;
    border: 1px solid #404e6752;
}
.expandheader:hover,
.expandheaderCustom:hover {
    box-shadow: 0px 1px 24px #404e6752;
    -webkit-transition: all ease-in 0.6s;
    transition: all ease-in 0.6s;
    cursor: pointer;
}
.font-15{
    font-size: 15px !important;
}
.margin1pt{margin:1% !important;}
.pdlfrt{padding: 0% 2%}
.circlebtn{
    margin-top:0.5%;
    border:1px solid transparent;
    color: #777;
    -webkit-transition: all ease-in 0.6s;
    transition: all ease-in 0.6s;
    padding: 18% 19%;
    }
.circlebtn:hover{
    /* border:1px solid; */
    cursor: pointer;
    /* border-radius: 10px;  */
    padding: 18% 19%;
    -webkit-transition: all ease-in 0.6s;
    transition: all ease-in 0.6s;
    color: #1e2d52;
    }